[Desktop Entry]
Type=Application
Name=WallShift
Comment=Troca automática de papel de parede via Windows Spotlight
Exec=wallshift
Icon=preferences-desktop-wallpaper
Terminal=false
Categories=Utility;
X-KDE-autostart-after=panel
StartupNotify=false
NoDisplay=true
